@tailwind base;

body {
  font-family: 'Inter', sans-serif;
  @apply bg-bg-1;
}

pre span {
  @apply text-alt-2
}

@tailwind components;

.selected-nav-menu-item:after {
  content: '';
  position: absolute;
  bottom: -4px;
  height: 2px;
  left: 8px;
  right: 8px;
  @apply bg-alt-2;
}

.card-info pre {
  font-size: 0.625rem;
}

@tailwind utilities;
